<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="PI20_014_DBEntities" connectionString="metadata=&quot;res://*/Entity Framework.Database.csdl|res://*/Entity Framework.Database.ssdl|res://*/Entity Framework.Database.msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;data source=31.147.204.119\PISERVER,1433;initial catalog=PI20_014_DB;persist security info=True;user id=PI20_014_User;password=Q?he@xw4;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>